<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml" xmlns:p="http://primefaces.org/ui">
	<ui:param name="page_name" value="Connexion" />
	<ui:param name="param_page" value="passer test 2" />

	<ui:define name="ContainerPI">


         							
	<h:panelGroup columns="2">
			<h:form>
			
				<h:dataTable value="#{testBean.questionslist}" var="question"
					border="1">
					<h:column>
						<f:facet name="header"><h:outputText value="nom" /></f:facet>
						<h:outputText value="#{question.contenue}" />
					</h:column>
			<h:form>  		
			<h:selectOneRadio value = "#{questionBean.reponse}">
            <f:selectItem itemValue = "1"  />
            <f:selectItem itemValue = "2" itemLabel = "#{question.choixB}" />
            <f:selectItem itemValue = "3" itemLabel = "#{question.reponse}" />
            <f:selectItem itemValue = "4" itemLabel = "#{question.choixC}" />
         </h:selectOneRadio>	   		
         <h:commandButton value = "Submit"  />
			</h:form>					
				</h:dataTable>
			</h:form>
		</h:panelGroup>
					
					

	</ui:define>

</ui:composition>