<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml" xmlns:p="http://primefaces.org/ui">
	<ui:param name="page_name" value="Connexion" />
	<ui:param name="param_page" value="Test Management" />

	<ui:define name="ContainerPI">

		
		<h:panelGroup columns="2">
			<h:form>
			
				<h:dataTable value="#{testBean.tests}" var="test"
					border="1">
					<h:column>
						<f:facet name="header"><h:outputText value="nom" /></f:facet>
						<h:outputText value="#{test.nom}" />
					</h:column>
								<h:column>
						<f:facet name="header"><h:outputText value="Date Expiration" /></f:facet>
						<h:outputText value="#{test.dateExpiration}" />
					</h:column>					
					<h:column>
						<f:facet name="header"><h:outputText value="Description" /></f:facet>
						<h:outputText value="#{test.description}" />
					</h:column>					
					<h:column>
						<f:facet name="header"><h:outputText value="Type" /></f:facet>
						<h:outputText value="#{test.type}" />
					</h:column>	
					<h:column>
					<h:commandButton class="btn btn-danger" value="Passer Test"
												action="#{testBean.passerTest(test.idTest,test.dateExpiration)}" >
												</h:commandButton>
					</h:column>	
					
					
					
								
				</h:dataTable>
			</h:form>
		</h:panelGroup>

	</ui:define>

</ui:composition>